import(Biostrings)
import(BSgenome)
import(BiocGenerics)
export(offTargetAnalysis,filterOffTarget,filtergRNAs, findgRNAs, 
    searchHits, writeHits, translatePattern, getOfftargetScore, 
    buildFeatureVectorForScoring, compare2Sequences)
