import(BiocGenerics)
importFrom(methods, as)
import(S4Vectors, except=c(fold, values))
import(IRanges, except=values)
import(Biostrings)
importFrom(seqinr, s2c)
import(BSgenome)
importFrom(data.table, rbindlist)
import(BiocParallel)
importFrom(parallel, makeCluster, stopCluster, detectCores)
importFrom(hash, values, hash)
importFrom("utils", "read.csv", "read.table", "write.table")
importFrom(reticulate, py_config, py_available, py_module_available, source_python, py_discover_config, install_miniconda, py_install, use_condaenv)
importFrom(rhdf5, H5Fopen, h5write, h5createFile, h5closeAll)
export(offTargetAnalysis,filterOffTarget,filtergRNAs, findgRNAs, 
    searchHits2, writeHits2, searchHits, writeHits, translatePattern, getOfftargetScore, 
    buildFeatureVectorForScoring, compare2Sequences, calculategRNAEfficiency,
    annotateOffTargets, isPatternUnique,uniqueREs, offTargetAnalysisWithoutBSgenome,
    predictRelativeFreqIndels
    )
