import(Biostrings)
import(BiocGenerics)
importFrom(seqinr, s2c)
import(BSgenome)
export(offTargetAnalysis,filterOffTarget,filtergRNAs, findgRNAs, 
    searchHits, writeHits, translatePattern, getOfftargetScore, 
    buildFeatureVectorForScoring, compare2Sequences, calculategRNAEfficiency,
    annotateOffTargets, isPatternUnique,uniqueREs, foldgRNAs, 
    offTargetAnalysisOfPeakRegions)
